.paragraph{
    font-family: DesirasNonCommercial;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.input-style{
    flex: 1;
    display: flex;
    min-width: 380px;
}

h1{
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    font-family: DesirasNonCommercial;
}

.button-text{

    color: #3f51b5;
}