h3{
    display: flex;
    align-self: flex-start;
}

p{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-left: 10px;
    display: flex;
    align-self: flex-start;
}